* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Custom variables */
  --invalid-border: #b92326;
  --invalid-background: rgba(185, 35, 38, 0.25);
  --valid-border: #8bc34a;
  --valid-background: rgba(139, 195, 74, 0.25);
}

body {
  display: flex;
}

img {
  height: 100%;
  width: 100%;
  /* Ensures the image covers the entire container without stretching */
  object-fit: cover;
}

label {
  display: block;
  position: absolute;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 8px;
  color: rgb(107, 106, 106);
  padding-top: 3px;

  opacity: 0; /* Initially hidden */
  transition: all 0.3s ease;
  pointer-events: none; /* Makes the label unclickable */
  transform: translateY(-50%);
}

input {
  height: 50px;
  width: 200px;

  padding-left: 10px;
  padding-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: rgb(222, 184, 135);
  border-radius: 4px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
}

.image-container {
  height: 100vh;
  width: 40%;
  position: relative;
}

.content-container {
  height: 100vh;
  width: 60%;
  padding-top: 40px;
  background-color: rgba(214, 214, 214, 0.649);
}

.content-header-div {
  padding-left: 40px;
  padding-bottom: 54px;
  font-family: "Sofia", cursive;
}

.content-description-div {
  font-size: 30px;
  padding-left: 40px;
  font-family: "Sofia", cursive;
  background-color: rgba(222, 184, 135, 0.685);
  padding-right: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.call-to-action-div {
  font-size: 25px;
  font-weight: bold;
  padding-left: 40px;
  font-family: "Sofia", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-name-div {
  background: black;
  opacity: 0.6;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
}

.heading {
  font-family: dynapuff, sans-serif;
  font-size: 50px;
  color: wheat;
  position: absolute;
  top: 10px;
  left: 90px;
}

.form-div {
  flex-grow: 1;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.form-item-div {
  position: relative;
  margin-bottom: 40px;
  display: inline-block;
  width: 40%;
}

.last-row {
  position: relative;
  display: inline-block;
  width: 40%;
}

.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

label:not(:focus) {
  opacity: 0;
  transition: opacity 0s;
}

input:focus::placeholder {
  color: transparent;
  transition: color 0.3s;
}

input:focus:invalid {
  outline: none;
  border: 1px solid var(--invalid-border);
}

/* Show label when input is focused or not empty */
/* Show label when input is focused or has text */
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  font-size: 12px;
  /*color: #555;*/
  color: var(--invalid-border);
  opacity: 1; /* Makes the label visible */
  background-color: white;
  padding: 0 5px;
  top: 10px;
  left: -2px;
}

input:valid {
  outline: none;
  border: 1px solid var(--valid-border);
}

.input-field:valid + .input-label {
  color: var(--valid-border);
}

input:valid:not(:focus) {
  background-color: var(--valid-background);
}

.input-field:valid:not(:focus) + .input-label {
  color: var(--valid-border);
  background-color: rgba(139, 195, 74, 0);
}

input:invalid:not(:focus):not(:placeholder-shown) {
  background-color: var(--invalid-background);
  border: 1px solid var(--invalid-border);
}

.input-field:invalid:not(:focus) + .input-label {
  background-color: rgba(185, 35, 38, 0);
}

.pre-last {
  margin-top: 8px;
}

.icon-div {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
}

.icon-name-container {
  position: absolute;
  width: 400px;
  height: 80px;
}

.logo-icon {
  background-color: black;
}
