* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
  }
  
  img {
    height: 100%;
    width: 100%;
    /* Ensures the image covers the entire container without stretching */
    object-fit: cover;
  }
  
  .image-container {
    height: 100vh;
    width: 40%;
  
    position: relative;
  }
  
  .content-container {
    height: 100vh;
    width: 60%;
  
    padding-top: 40px;
    background-color: rgba(214, 214, 214, 0.649);
  }
  
  .content-header-div {
    padding-left: 40px;
    padding-bottom: 54px;
    font-family: "Sofia", cursive;
  }
  
  .content-description-div {
    font-size: 30px;
    padding-left: 40px;
    font-family: "Sofia", cursive;
  
    background-color: rgba(222, 184, 135, 0.685);
    padding-right: 280px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .call-to-action-div {
    font-size: 25px;
    font-weight: bold;
    padding-left: 40px;
    font-family: "Sofia", cursive;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /**/
  .logo-name-div {
    position: absolute;
    background: black;
    opacity: 0.6;
    /*THIS MAKES THE ELEMENT POSITIONED ABSOLUTE - TOP / LEFT / RIGHT PROPERTIES */
    top: 15%;
    height: 120px;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-family: dynapuff, sans-serif;
    font-size: 50px;
    position: absolute;
    color: wheat;
  }
  
  .form-div {
    flex-grow: 1;
    background-color: white;
    padding: 40px;
  
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
  
  }
  /*   */
  .form-item-div {
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
    width: 40%;
  }
  
  label {
    display: block;
    position: absolute;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 8px;
    color: rgb(107, 106, 106);
    padding-top: 3px;
  
    opacity: 0; /* Initially hidden */
    transition: all 0.3s ease;
    pointer-events: none; /* Makes the label unclickable */
    transform: translateY(-50%);
  }
  
  input {
    height: 50px;
    width: 200px;
  
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .sofia-regular {
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  button {
      padding: 10px 20px;
      background-color: rgb(222, 184, 135);
      border-radius: 4px;
      border: 1px solid black;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
  }
  
  /* EDITING FORM INPUTS */
  /* 1 */
  label:not(:focus) {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* 2 */
  /* This makes placeholder slowly disappear once input fields is clicked on */
  input:focus::placeholder {
    color: transparent;
    transition: color 0.3s;
  }
  
  /* Invalid used to be input[type="text"] + code */
  input:focus:invalid {
    outline: none;
    border: 1px solid red;
  }
  
  /* Show label when input is focused or not empty */
  /* Show label when input is focused or has text */
  .input-field:focus + .input-label,
  .input-field:not(:placeholder-shown) + .input-label {
    font-size: 12px;
    /*color: #555;*/
    color: red;
    opacity: 1; /* Makes the label visible */
    background-color: white;
    padding: 0 5px;
    top: 10px;
    left: -2px;
  }
  
  /* 3 */
  input:valid {
    outline: none;
    border: 1px solid #8bc34a;
  }
  
  .input-field:valid + .input-label {
    color: #8bc34a;
  }
  
  /* 4 */
  input:valid:not(:focus) {
    background-color: rgba(139, 195, 74, 0.25);
  }
  
  .input-field:valid:not(:focus) + .input-label {
    color: #8bc34a;
    background-color: rgba(139, 195, 74, 0);
  }
  
  /* INPUT FIELD FIRST NAME, LAST NAME  WORKS */
  input:invalid:not(:focus):not(:placeholder-shown) {
    background-color: #ffe6e6; /* Light red background */
    border: 1px solid red; /* Red border */
  }
  
  .input-field:invalid:not(:focus) + .input-label {
    background-color: rgba(185, 35, 38, 0);
  } 