* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
  }
  
  img {
    height: 100%;
    width: 100%;
    /* Ensures the image covers the entire container without stretching */
    object-fit: cover;
  }
  
  .image-container {
    height: 100vh;
    width: 40%;
  
    position: relative;
  }
  
  .content-container {
    height: 100vh;
    width: 60%;
  
    padding-top: 40px;
    background-color: rgba(214, 214, 214, 0.649);
  }
  
  .content-header-div {
    padding-left: 40px;
    padding-bottom: 54px;
    font-family: "Sofia", cursive;
  }
  
  .content-description-div {
    font-size: 30px;
    padding-left: 40px;
    font-family: "Sofia", cursive;
  
    background-color: rgba(222, 184, 135, 0.685);
    padding-right: 280px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .call-to-action-div {
    font-size: 25px;
    font-weight: bold;
    padding-left: 40px;
    font-family: "Sofia", cursive;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /**/
  .logo-name-div {
    position: absolute;
    background: black;
    opacity: 0.6;
    /*THIS MAKES THE ELEMENT POSITIONED ABSOLUTE - TOP / LEFT / RIGHT PROPERTIES */
    top: 15%;
    height: 120px;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-family: dynapuff, sans-serif;
    font-size: 50px;
    position: absolute;
    color: wheat;
  }
  
  .form-div {
    flex-grow: 1;
    background-color: white;
    padding: 40px;
  
    display: flex;
    flex-direction: column;
  }
  
  .form-item-div {
    background-color: orange;
    display: inline-block;
    width: 40%;
    margin-right: 4rem;
    margin-bottom: 40px;
  
    position: relative;
  }
  
  label {
    display: block;
    position: absolute;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 8px;
    color: rgb(107, 106, 106);
    padding-top: 3px;
  }
  
  input {
    height: 50px;
    width: 200px;
  
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .sofia-regular {
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  